.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primary-btn {
    background-color: #1B4CA1;
    color: #fff;
}

.mat-card-container {
    background: transparent;
    padding: 25px;
    margin: 25px 0;
}

.search {
    .rsearch {
        position: relative;
    }

    .search-icon {
        position: absolute;
        top: 15px;
        font-size: 20px;
        left: 10px;
    }

    .clear-icon {
        position: absolute;
        top: 15px;
        font-size: 20px;
        right: 10px;
        color: #666;

        &:hover {
            color: #333;
        }
    }

    .sinput {
        border-radius: 32px;
        border: 1px solid #d5d0d0;
        padding: 15px 36px;
        /* stylelint-disable */
        font: 400 14px Lato;
        width: 100%
            /* stylelint-enable */
    }
}

.no-data-message {
    text-align: center;
    padding: 16px;
    font-style: italic;
    color: #888;
}

.btn-disable {
    border-radius: var(--Radius-Full-Round, 9999999px);
    opacity: 0.4;
    background: var(--Primary-KB-Primary-Light, #1B4CA1);
    color: var(--white-kb-white-100, #FFF);
    text-align: center;

    /* Button */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    width: 100%;
}

.btn-active {
    border-radius: var(--Radius-Full-Round, 9999999px);
    opacity: 1;
    background: var(--Primary-KB-Primary-Light, #1B4CA1);
    color: var(--white-kb-white-100, #FFF);
    text-align: center;

    /* Button */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    width: 100%;
}

.sub-heading p {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.doc-title {
    font-weight: 700;
}

:host ::ng-deep .mat-mdc-header-row {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds shadow below header */
    padding: 5px 10px;
}

:host ::ng-deep .mat-mdc-row {
    font-size: 16px;

}

:host ::ng-deep .mat-mdc-cell {
    padding: 5px 10px;

}

:host ::ng-deep .mat-mdc-header-cell {
    background: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #e0e0e0;
}

:host ::ng-deep th.mat-mdc-header-cell:not(:last-child) {
    position: relative;
    /* required for positioning ::after */
    border-right: none;
    /* remove default full height border */
    padding: 5px 10px;
}

:host ::ng-deep th.mat-mdc-header-cell:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 12px;
    /* space from top */
    bottom: 12px;
    /* space from bottom */
    right: 0;
    width: 1px;
    background-color: #e0e0e0;

}

::ng-deep .doc-summary-text {
    ::ng-deep markdown p {
        line-height: 1.5rem;
        font-family: Lato;
        font-size: 1rem !important;
        font-style: normal;
        font-weight: 400;
    }
}

/* Force search wrapper width to match panel exactly */
.mat-select-panel .search-wrapper {
    width: 100% !important;
    box-sizing: border-box;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}

/* Ensure search input fills correctly */
.search-input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
}

::ng-deep {
    .mat-select-panel-wrap {
        overflow: visible !important;
        /* allow content + scrollbar */
        padding: 0;
        margin-top: 42px;
    }

    .mat-select-panel {
        border: 1px solid #ccc !important;
        /* border around dropdown */
        box-sizing: border-box;
        max-height: 250px;
        /* optional */
    }
}

.edit-plan {
    display: flex;
padding: 4px 10px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
background: rgba(27, 76, 161, 0.16);
color: #1B4CA1;
font-family: Lato;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;
height: 30px;
}

.select-map-route-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select-map-flex {
    display: flex;
    flex-direction: row;
}

.select-map-flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.selected-mapping-route p {
    color: #1B4CA1;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.success {
    background: green;
    padding: 4px 6px;
    color: white;
    border-radius: 20px;
}

.in-progress {
    background: orange;
    padding: 4px 6px;
    color: white;
    border-radius: 20px;
}