<div class="request-container">
    <div class="header-container">
        <div class="left-container mt-4 mb-1 cursor-pointer" (click)="routeToMain()">
            <div>
                <img src="assets/icons/dopt-logo.png" alt="Department of Personnel & Training" class="h-50" />
            </div>
            <div>
                <img src="assets/icons/CBC_logo.svg" alt="Capacity Building Commission Logo" class="h-50" />
            </div>
            <div>
                <img src="https://igotkarmayogi.gov.in/assets/img/karmayogiLogo.svg" alt="Karmayogi Bharat Logo"
                    class="h-50" />
            </div>
            <div *ngIf="nextStep !== 'initial'">
                <h2 class="highlight-ai">
                    <span class="ai-loader-icon-medium"><img src="assets/icons/ai-loader.gif"></span><span>IGOT AI
                        driven CBP</span>
                </h2>
            </div>
        </div>

        <div class="right-container mt-4" style="justify-content: space-between;">
            <div class="how-to-use-chip" (click)="openHelp()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-play h-4 w-4"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
                <span class="ml-2">How to use</span>
            </div>
            <ng-container *ngIf="loginSuccess">
                <div class="cursor-pointer" (click)="routeToDashboard()">
                    <!-- <div class="dashboard-pill">
                        <mat-icon class="vertical-middle">dashboard</mat-icon>
                        <span style="margin-top: 2px;">Dashboard</span>
                    </div> -->

                </div>

                <div class="cursor-pointer" [matTooltip]="userEmail" [matMenuTriggerFor]="settingsMenu">
                    <div class="profile-pic-container">
                        <img src="assets/icons/user.png" alt="Profile" class="profile-pic">
                    </div>
                    <mat-menu #settingsMenu="matMenu">
                        <div class="user-profile">
                            <p><b> {{userProfile?.username | titlecase}}</b></p>
                            <p>{{userProfile?.email}}</p>
                        </div>
                        <div class="seperator"></div>
                        <div>
                            <button mat-menu-item [ngClass]="!showDesignationHierarchy ? 'menu-disable':'menu-active'"
                                [disabled]="!showDesignationHierarchy" (click)="openUpdateDesignationHierarchy()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-layers h-4 w-4">
                                    <path
                                        d="m12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83Z">
                                    </path>
                                    <path d="m22 17.65-9.17 4.16a2 2 0 0 1-1.66 0L2 17.65"></path>
                                    <path d="m22 12.65-9.17 4.16a2 2 0 0 1-1.66 0L2 12.65"></path>
                                </svg>
                                <span class="ml-5 menu-label">Update Hierachy</span>
                            </button>
                            <button mat-menu-item [ngClass]="!cbpFinalObj?.role_mapping_generation?.length ? 'menu-disable':'menu-active'"
                                [disabled]="!cbpFinalObj?.role_mapping_generation?.length" (click)="openApproveRequests()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-clipboard-list h-4 w-4">
                                    <rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect>
                                    <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2">
                                    </path>
                                    <path d="M12 11h4"></path>
                                    <path d="M12 16h4"></path>
                                    <path d="M8 11h.01"></path>
                                    <path d="M8 16h.01"></path>
                                </svg>
                                <span class="ml-5 menu-label">Approval Requests</span>
                            </button>
                            <button mat-menu-item [ngClass]="disableUploadDocument ? 'menu-disable':'menu-active'"
                                class="" [disabled]="disableUploadDocument" (click)="goToUploadDocument()">
                                <mat-icon>upload</mat-icon> <span class="menu-label">Manage Documents</span>
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>logout</mat-icon>
                                <span class="menu-label">Logout</span>
                            </button>

                        </div>

                    </mat-menu>
                </div>
            </ng-container>

        </div>
    </div>

</div>

<div class="container-fluid">
    <router-outlet *ngIf="!loginSuccess"></router-outlet>
    <lib-ai-cbp *ngIf="loginSuccess"></lib-ai-cbp>
    <!-- <div class="heading">Create CBP</div> -->
    <!-- <div *ngIf="nextStep === 'initial'">
        <app-role-mapping-generation [loginStatusFlag]="loginSuccess" (successRoleMapping)="successRoleMapping($event)" (loginSuccess)="loginSuccessStatus($event)" (alreadyAvailableRoleMapping)="alreadyAvailableRoleMapping($event)"></app-role-mapping-generation>
    </div>
    <div *ngIf="nextStep === 'role-mapping'">
        <app-role-mapping-list [formData]="formData" (moveToInitialScreen)="moveToInitialScreen($event)"></app-role-mapping-list>
    </div> -->
</div>



<!-- <div class="role-mapping-suggestion">
    <div class="container">
        <mat-card class="mt-2">
            <div class="section-header">
                <div class="sub-heading">
                    <p>Role Mapping / Generate Course Recommendation</p>
                </div>
                <div class="btn-group">
                    <div>
                        <input class="btn-disable" type="button" value="Suggest More Courses From iGOT" />
                    </div>
                    <div class="pl-2">
                        <input class="btn-disable" type="button" value="Save Courses" />
                    </div>
                </div>
            </div>
            <div class="edit-section">
                <div class="select-map-route-container">
                    <div class="selected-mapping-route">
                        <p>Secretary (WCD) / Ministry of Women and Child / Ruler Development</p>
                    </div>

                </div>
            </div>

            <div class="course-container my-4">
                <div class="course-list-container">
                    <div class="course-list-item">
                        <div class="course-header">
                            <div>
                                <div class="course-pill">
                                    <div class="course-pill-text">Course</div>
                                </div>
                            </div>
                            <div>
                                <div class="igot-platform-pill">
                                    <div class="igot-platform-pill-text">
                                        <span class="igot-platform-icon"><img src="assets/centerimage.png"></span>
                                        <span>iGOT Platform</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="course-list-item">
                        <div class="course-header">
                            <div>
                                <div class="course-pill">
                                    <div class="course-pill-text">Course</div>
                                </div>
                            </div>
                            <div>
                                <div class="ai-recommened-pill">
                                    <div class="ai-recommened-pill-text">
                                        <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                        <span>AI Recommended</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </mat-card>
    </div>
</div>

<div class="role-mapping-container">
    <div class="container">
        <mat-card class="mt-2">
            <div class="section-header">
                <div class="sub-heading">
                    <p>Save Courses</p>
                </div>
                <div class="btn-group">
                    <div>
                        <input class="btn-disable" type="button" value="Cancel" />
                    </div>
                    <div class="pl-2">
                        <input class="btn-disable" type="button" value="Add the selected course with designation" />
                    </div>
                </div>
            </div>
            <div class="edit-section">
                <div class="select-map-route-container">
                    <div class="selected-mapping-route">
                        <p>Secretary (WCD) / Ministry of Women and Child / Ruler Development</p>
                    </div>

                </div>
            </div>
            <div class="search-filter-section">
                <div class="search flex margin-right-m">
                    <label class="label">Search</label>
                    <div>
                        <div class="search-container">
                            <div class="rsearch">
                                <mat-icon
                                    class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                <input class="sinput color-60 w-full" [(ngModel)]="searchText"
                                    (keyup.enter)="searchData()" label="" (input)="applyFilter()"
                                    placeholder="Search Courses" type="Standard">
                            </div>
                            <div class="pl-2">
                                <input class="btn-disable" type="button" value="Search" />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div>
                <div>
                    <mat-checkbox>Select All Courses</mat-checkbox>
                </div>
            </div>
            <div class="course-container my-4">

                <div class="course-list-container">
                    <div class="course-list-item">
                        <div class="course-header">
                            <div class="checked-course-container">
                                <div>
                                    <mat-checkbox></mat-checkbox>
                                </div>
                                <div class="ml-2">
                                    <div class="course-pill">
                                        <div class="course-pill-text">Course</div>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <div class="ai-recommened-pill">
                                    <div class="ai-recommened-pill-text">
                                        <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                        <span>AI Recommended</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="course-list-item">
                        <div class="course-header">
                            <div>
                                <div class="course-pill">
                                    <div class="course-pill-text">Course</div>
                                </div>
                            </div>
                            <div>
                                <div class="ai-recommened-pill">
                                    <div class="ai-recommened-pill-text">
                                        <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                        <span>AI Recommended</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </mat-card>
    </div>
</div>

<div class="role-mapping-container">
    <div class="container">
        <mat-card class="mt-2">
            <div class="section-header">
                <div class="sub-heading">
                    <p>Add Courses</p>
                </div>
                <div class="btn-group">
                    <div>
                        <input class="btn-disable" type="button" value="Cancel" />
                    </div>
                    <div class="pl-2">
                        <input class="btn-disable" type="button" value="Add the selected course with designation" />
                    </div>
                </div>
            </div>
            <div class="edit-section">
                <div class="select-map-route-container">
                    <div class="selected-mapping-route">
                        <p>Secretary (WCD) / Ministry of Women and Child / Ruler Development</p>
                    </div>

                </div>
            </div>
            <div class="search-filter-section">
                <div class="search flex margin-right-m">
                    <label class="label">Search</label>
                    <div>
                        <div class="search-container">
                            <div class="rsearch">
                                <mat-icon
                                    class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                <input class="sinput color-60 w-full" [(ngModel)]="searchText"
                                    (keyup.enter)="searchData()" label="" (input)="applyFilter()"
                                    placeholder="Search Courses" type="Standard">
                            </div>
                            <div class="pl-2">
                                <input class="btn-disable" type="button" value="Search" />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div>
                <div>
                    <mat-checkbox [checked]="true">Select All Courses</mat-checkbox>
                </div>
            </div>
            <div class="course-container my-4">

                <div class="course-list-container">
                    <div class="course-list-item">
                        <div class="course-header">
                            <div class="checked-course-container">
                                <div>
                                    <mat-checkbox [checked]="true"></mat-checkbox>
                                </div>
                                <div class="ml-2">
                                    <div class="course-pill">
                                        <div class="course-pill-text">Course</div>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <div class="ai-recommened-pill">
                                    <div class="ai-recommened-pill-text">
                                        <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                        <span>AI Recommended</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="course-list-item">
                        <div class="course-header">
                            <div>
                                <div class="course-pill">
                                    <div class="course-pill-text">Course</div>
                                </div>
                            </div>
                            <div>
                                <div class="ai-recommened-pill">
                                    <div class="ai-recommened-pill-text">
                                        <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                        <span>AI Recommended</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-title">
                            <div>
                                <div>Maternal, Infant And Young Child Nutrition</div>
                            </div>
                        </div>
                        <div class="course-desc">
                            <div>
                                <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                    which is
                                    to provide and educate on nutrition for mother and young children</div>
                            </div>
                        </div>
                        <div>
                            <div class="relevancy-container">
                                <div class="relevancy">Relevancy</div>
                                <div class="dash">-</div>
                                <div class="percentage">90%</div>
                            </div>
                        </div>
                        <div>
                            <div class="competencies-matched-container">
                                <div class="competencies-matched">Competencies Matched</div>
                                <div class="dash">-</div>
                                <div class="percentage">80%</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </mat-card>
    </div>
</div>

<div class="view-cbp-plan">
    <div class="container">
        <mat-card class="mt-2">
            <div class="section-header">
                <h2>Secretary (WCD)</h2>
            </div>

            <div class="competency-container">
                <div class="outside-layer">
                    <div class="inside-layer">
                        Behavioural Competencies
                    </div>
                </div>
                <div class="outside-layer">
                    <div class="inside-layer">
                        Behavioural Competencies
                    </div>
                </div>
                <div class="outside-layer">
                    <div class="inside-layer">
                        Behavioural Competencies
                    </div>
                </div>
                <div class="outside-layer">
                    <div class="inside-layer">
                        Behavioural Competencies
                    </div>
                </div>
            </div>
            <div>
                <div class="sub-heading">
                    <p>Wing/Division</p>
                </div>
                <input type="text" value="Ministry Leadership"
                    style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px;">
            </div>
            <div>
                <div class="sub-heading">
                    <p>Rols & Responsibilities</p>
                </div>
                <div class="mt-4 additional-details">
                    <textarea rows="5" placeholder="Additional details"></textarea>
                </div>
            </div>
            <div>
                <div class="sub-heading">
                    <p>Competency</p>
                </div>
                <div class="search-filter-section">
                    <div class="search flex margin-right-m">
                        <label class="label">Search</label>
                        <div>
                            <div class="search-container">
                                <div class="rsearch">
                                    <mat-icon
                                        class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                    <input style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px;"
                                        class="sinput color-60 w-full" [(ngModel)]="searchText"
                                        (keyup.enter)="searchData()" label="" (input)="applyFilter()"
                                        placeholder="Search by designation name or wing/division..." type="Standard">
                                </div>
                                <div class="pl-2">
                                    <input class="btn-disable" type="button" value="Search" />
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="filter-section flex">
                        <div>
                            <label class="label">Filter by competency type</label>
                            <div>
                                <mat-form-field appearance="fill"
                                    style="background: white; border-radius: 25px; padding: 0 12px;">
                                    <mat-select [(value)]="selectedValue" placeholder="Select Ministry"
                                        style="border-radius: 25px; background: white;">
                                        <mat-option [value]="'test'">Test</mat-option>
                                        <mat-option [value]="'another'">Another</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="btn-disable" type="button" value="Add" />
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="suggest-courses-plan">
    <div class="container">
        <mat-card class="mt-2">
            <div class="suggest-courses-header">
                <div>
                    <div class="section-header">
                        <h2>Suggest Course from iGOT</h2>
                    </div>
                    <div class="sub-heading">
                        <p>These courses is coming from the iGOT platform</p>
                    </div>
                </div>
                <div>
                    <div class="suggest-course-control">
                        <div>
                            <input class="btn-disable" type="button" value="Cancel" />
                        </div>
                        <div>
                            <input class="btn-disable" type="button" value="Add" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="sub-heading">
                    <p>Competency</p>
                </div>
                <div class="search-filter-section">
                    <div class="search flex margin-right-m">
                        <label class="label">Search</label>
                        <div>
                            <div class="search-container">
                                <div class="rsearch">
                                    <mat-icon
                                        class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                    <input style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px;"
                                        class="sinput color-60 w-full" [(ngModel)]="searchText"
                                        (keyup.enter)="searchData()" label="" (input)="applyFilter()"
                                        placeholder="Search by designation name or wing/division..." type="Standard">
                                </div>
                                <div class="pl-2">
                                    <input class="btn-disable" type="button" value="Search" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <mat-checkbox>Select All Courses</mat-checkbox>
                </div>
            </div>
            <div class="course-card-container">
                <div>
                    <div>
                        <img src="assets/career/careers1.png"/>
                    </div>
                    <div>
                        <div class="course-pill">
                            <div class="course-pill-text">Course</div>
                        </div>
                    </div>
                    <div>
                        Code of Conduct for Government Employees
                    </div>
                    <div>
                        Published on: 1/May/24
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div> 

<div class="progress-popup">
    
    <div class="heading">
        <div>Adding Your Courses</div>
    </div>
    <div class="">
        <div>Wait a second , your adding in processing….</div>
    </div>
    <div class="progress-icon">
        <img src="assets/icons/progress-icon.svg">
    </div>
</div> -->
<app-update-designation-hierarchy (closeDrawer)="closeDrawer()"
    *ngIf="openUpdateDesignationHierarchyDrawer"></app-update-designation-hierarchy>
<app-help-sidebar *ngIf="showHelpDrawer" (closeHelpDrawer)="closeHelpDrawer()"></app-help-sidebar>