<div class="login-container">
    <div class="left-panel">
        <div class="hero-content">

            <span class="badge">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-sparkles h-3.5 w-3.5">
                    <path
                        d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z">
                    </path>
                    <path d="M20 3v4"></path>
                    <path d="M22 5h-4"></path>
                    <path d="M4 17v2"></path>
                    <path d="M5 18H3"></path>
                </svg>
                <span class="ml-10">AI-DRIVEN CBP TOOL</span></span>

            <h1>
                Generate Smart <br>
                <span class="text-warning">Capacity Building Plan</span><br>
                With AI
            </h1>

            <p class="sub-heading-text">
                Empower your organisation with iGOT AI’s intelligent <br>
                capacity building planning tool. Map roles,<br>
                designations, and training paths effortlessly.
            </p>

            <div class="feature-card">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-lg bg-white/15 flex items-center justify-center feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-brain h-5 w-5">
                        <path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z">
                        </path>
                        <path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z">
                        </path>
                        <path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"></path>
                        <path d="M17.599 6.5a3 3 0 0 0 .399-1.375"></path>
                        <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
                        <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
                        <path d="M19.938 10.5a4 4 0 0 1 .585.396"></path>
                        <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
                        <path d="M19.967 17.484A4 4 0 0 1 18 18"></path>
                    </svg>
                </div>
                <div>
                    <h4>AI-Powered Mapping</h4>
                    <p>Intelligent competency and role mapping using advanced AI</p>
                </div>
            </div>

            <div class="feature-card">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-lg bg-white/15 flex items-center justify-center feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-target h-5 w-5">
                        <circle cx="12" cy="12" r="10"></circle>
                        <circle cx="12" cy="12" r="6"></circle>
                        <circle cx="12" cy="12" r="2"></circle>
                    </svg>
                </div>
                <div>
                    <h4>Smart Course Recommendation</h4>
                    <p>AI-driven course suggestions tailored to competency gaps</p>
                </div>
            </div>

            <div class="feature-card">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-lg bg-white/15 flex items-center justify-center feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chart-column h-5 w-5">
                        <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
                        <path d="M18 17V9"></path>
                        <path d="M13 17V5"></path>
                        <path d="M8 17v-3"></path>
                    </svg>
                </div>
                <div>
                    <h4>Smart Analytics</h4>
                    <p>Track competency gaps and training effectiveness</p>
                </div>
            </div>

        </div>
    </div>
    <div class="right-panel">

        <div class="login-wrapper">

            <div class="login-wrapper-header">
                <div style="background-color: #fff;padding:0px 30px">
                    <div class="text-center"><span class="ai-loader-icon-medium"><img
                                src="assets/icons/ai-loader.gif"></span></div>
                    <div>
                        <h2 class="highlight-ai">
                            <span>iGOT AI Driven CBP</span>
                        </h2>
                    </div>
                </div><br>
                <p class="welcome">Welcome Back</p>
                <p class="sign0in">Sign in to continue to iGOT AI</p>
            </div>
            <div class="form-container">

                <form style="width: 55%;" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="mt-4">
                        <label class="label">
                            <span>User Name</span>
                        </label>
                        <mat-form-field appearance="fill" class="full-width"
                            style="background: #f6f7f9 !important; border-radius: 25px; padding: 0 12px;border: 1px solid #ccc;">
                            <input matInput placeholder="Enter username" formControlName="username" />
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <label class="label">
                            <span>Password</span>
                        </label>
                        <mat-form-field appearance="fill" class="full-width"
                            style="background: #f6f7f9 !important;  border-radius: 25px; padding: 0 12px;border: 1px solid #ccc;">
                            <input matInput type="password" placeholder="Enter password" formControlName="password" />
                        </mat-form-field>
                    </div>

                    <div class="mt-4">

                        <button [disabled]="loginForm?.invalid" mat-raised-button color="primary"
                            [ngClass]="loginForm?.invalid ? 'btn-disable':'btn-active'" type="submit">
                            <mat-icon>login</mat-icon> Sign-In
                        </button>
                    </div>
                </form>

                <div class="features">

                    <p class="text-center blue-link mt-10">What you'll get with iGOT AI</p>

                    <ul class="mt-10 list">
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-3.5 w-3.5 text-success flex-shrink-0">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="m9 12 2 2 4-4"></path>
                            </svg><span class="ml-10">AI-driven role & competency mapping</span></li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-3.5 w-3.5 text-success flex-shrink-0">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="m9 12 2 2 4-4"></path>
                            </svg><span class="ml-10">Organisational hierarchy management</span></li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-circle-check h-3.5 w-3.5 text-success flex-shrink-0">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="m9 12 2 2 4-4"></path>
                            </svg><span class="ml-10">Course recommendation engine</span></li>
                    </ul>

                </div>

                <div class="footer-text text-center">
                    iGOT AI • AI-Driven CBP Tool
                </div>
            </div>


        </div>


    </div>

</div>

<div class="overlay-loader" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>