.file-upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  }
  .primary-btn {
    background-color: #1B4CA1;
    color: #fff;
}  

.disclaimer-text p{
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  margin-left: 24px;
  
}

.file-cross-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background: lightgray;
  margin-left: 10px;
  border-radius: 25px;
}

:host .mat-mdc-dialog-content {
  max-height: 100vh !important;
}

.cursor-pointer {
  cursor: pointer;
}